*{
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
    
}
:root{
    --mainColor: #29335C;
    --mainColorLight: #5767aa;
    --secondaryColor: #DB2B39;
    --textColor: #eee;

}
a{
    text-decoration: none;
    color:white;
}
footer{
    min-height: 45vh;
    display: flex;
    align-items: center;
    padding: 20px;
}
nav a{
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration:none;
    
    

}
//pagina de contacto
.mensajeria{
    background-color: rgb(165, 171, 178);
    padding: 10px;
  margin: auto  ;
  width: 800px;
  height: auto;

  .texto{
    color: rgb(11, 18, 75);
    font-size: 30px;
  }

}
.carousel img{
    width: 100%;
    height: 1240px;
}
.sections{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  
    

    

    .Left{
        h1{
            font-size: 90px;
            text-align: center;
            color: #0e1742;
            
            
  
            
              
                      
        };
        h2, h3 ,h4{
            font-size: 35px;
            color: #0e1742;
 
        }
        p{
            font-size: 20px;
            color: black;
        }
    

    }   
 }
 .sections img{
    max-width: 350px;
    height: auto;

    
    
    
 }
    


.containerApi{
    //justify-content:space-around;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    

    img{
        max-width: 400px;
        
        height: 400px;
        cursor: pointer;
    }
    
    video{
        max-width: 400px;        
        height: 400px;
        background-color: var(--textColor);
        cursor:pointer;

    }


}

.divss{
    margin-top: 20%;
    color: aliceblue;
    

}

